<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>Error 405</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="https://fonts.googleapis.com/css?family=Poiret+One" rel="stylesheet">
	<link rel="stylesheet" href="/static/stylerr.css">

</head>

<body>
	<!-- partial:index.partial.html -->
	<h5>Method not allowed!</h5>
	<h1>4</h1>
	<h1>05</h1>
	<div class="box">
		<span></span><span></span>
		<span></span><span></span>
		<span></span>
	</div>
	<div class="box">
		<span></span><span></span>
		<span></span><span></span>
		<span></span>
	</div>
	<p> There was a Bad Method. We suggest you to
		<br />
		<a href="http://localhost:8080">Go Back</a>
		or visit here later.
	</p>
	<!-- partial -->

</body>

</html>