<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"> 
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ascii-art-web</title>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="shortcut icon" href="/static/images/logo.png"> <!--web icon-->
</head>
<body>
    <!--1st part : nav bar-->
    <div class="filtre"></div>
    <nav>
        <a href="http://localhost:8080/landing_page"> <img src="/static/images/logo.png" alt="logo zone01dakar" id="logo"> </a>
        <div id="components">
            <p><a href="http://localhost:8080/landing_page">HOME</a></p>
            <div class="vertical_line"></div>
            <p><a href="https://learn.zone01dakar.sn/intra/dakar/div-01/ascii-art-web?event=55" target="_blank">INTRA</a></p>
            <div class="vertical_line"></div>
            <p><a href="https://learn.zone01dakar.sn/git/vindour/ascii-art-web/src/branch/master/README.md" target="_blank">README</a></p>
            <div class="vertical_line"></div>
            <p class="lastp"><a href="https://learn.zone01dakar.sn/git/vindour/ascii-art-web/src/branch/master/README.md#user-content-authors" target="_blank">ABOUT US</a></p>
        </div>
    </nav>
    
    
    <!-- 2nd part : main body -->
    <main>
        <img src="/static/images/nav bar graphism.png" alt="reversed wave" id="nav_bar_graphism">
        <section id="middle">
            <img class="mid" src="/static/images/ascii art.png" alt="ascii art, transform your text into art">
            <img class="midbis" src="/static/images/asci art reduced.png" alt="acii art, transform your text into art">    
            </section>
          <a href="http://localhost:8080" target="_self"><button>Let's audit</button></a>
    </main>



<!-- 2nd part : footer-->
    <footer>
        <img src="/static/images/graphism.png" alt="wave images" id="graphism">
        <div id="band">
            <p id="licensed">@licensed by VMS team</p>
        </div>
    </footer>

</body>
</html>